<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${boardGame.title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<a href=#>Log in here</a>
	<h1 th:text="${boardGame.title}"></h1>
	<div th:text="${boardGame.description}"></div><br>
	<a href="/boardgamelist">Go back to the list page</a>
	
	<table>
	  <thead>
	    <tr>
	      <th>Category</th>
	      <th>Genre</th>
	      <th>Min Players</th>
	      <th>Max Players</th>
	      <th>Min Age</th>
	      <th>Estimated duration (minutes)</th>
	      <th>Language</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td th:text="${boardGame.category?.categoryName}"></td>
	      <td th:text="${boardGame.genre?.genreName}"></td>
	      <td th:text="${boardGame.minPlayer}"></td>
	      <td th:text="${boardGame.maxPlayer}"></td>
	      <td th:text="${boardGame.minAge}"></td>
	      <td th:text="${boardGame.estDuration}"></td>
	      <td th:text="${boardGame.language.languageName}"></td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>