<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title th:text="${boardGame.title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
		<a href="/logout">Log out</a> <br>
		Welcome <b sec:authentication="name"></b>, 
        your role is <b sec:authentication="principal.authorities"></b>
	</div>
	<h1 th:text="${boardGame.title}"></h1>
	<div th:text="${boardGame.description}"></div><br>
	<a class="btn btn-primary" href="/boardgamelist">Go back to the list page</a>
	
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Category</th>
	      <th>Genre</th>
	      <th>Min Players</th>
	      <th>Max Players</th>
	      <th>Min Age</th>
	      <th>Estimated duration (minutes)</th>
	      <th>Language</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td th:text="${boardGame.category?.categoryName}"></td>
	      <td th:text="${boardGame.genre?.genreName}"></td>
	      <td th:text="${boardGame.minPlayer}"></td>
	      <td th:text="${boardGame.maxPlayer}"></td>
	      <td th:text="${boardGame.minAge}"></td>
	      <td th:text="${boardGame.estDuration}"></td>
	      <td th:text="${boardGame.language.languageName}"></td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>