<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit a board game</title>
</head>
<body>
    <h1>Edit a board game</h1>
    <form action="#" th:action="@{/save}" th:object="${boardGame}" method="post">
        <input type="hidden" id="id" th:field="*{id}" /><br />
        <label for="title">Title</label>
        <input type="text" id="title" th:field="*{title}" /><br />
        <label for="description">Description:</label>
        <textarea type="text" id="description" th:field="*{description}"></textarea><br />
        <label for="minPlayer">Minimum number of players:</label>
        <input type="number" id="minPlayer" th:field="*{minPlayer}" /><br />
        <label for="maxPlayers">Maximum number of players: (not necessary)</label>
        <input type="number" id="maxPlayer" th:field="*{maxPlayer}" /><br />
        <label for="minAge">Suitable for age above: </label>
        <input type="number" id="minAge" th:field="*{minAge}" /><br />
        <label for="categoryList">Category:</label>
			<select id="categoryList" th:field="*{category}">
			  <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
			</select><br />
        <label for="genreList">Genre:</label>
			<select id="genreList" th:field="*{genre}">
			  <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.genreName}"></option>
			</select><br />
        <button type="submit">Save changes</button>
    </form>
</body>
</html>
